VITE_API_URL=http://localhost:5000
VITE_GOOGLE_CLIENT_ID=540314344768-8v68ijf4hf39tue2vqj2kk4dddsboam6.apps.googleusercontent.com
VITE_STRIPE_PUBLIC_KEY=pk_test_51TrGwIHIcFa23L5rRKNYQ7SU9f6ua2fLwGVDqsXPYAWSGFh6pKLLHKdJhat6YteC0idGncPxncbiRkfHgCy6jTMz00SVZ2Pjuo
VITE_PAYPAL_CLIENT_ID=your_paypal_client_id
